extend layout
block content
  p
    | Something interesting will happen here shortly.
    | Something interesting will happen here shortly.
    | Something interesting will happen here shortly.
  p
    | Something interesting will happen here shortly.
    | Something interesting will happen here shortly.
    | Something interesting will happen here shortly.
